<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    
    <a href="/logout">Logout</a>

    <h2>Welcome, {{ user.name }} !</h2>

    <h4>Quotable Quotes</h4>

    {% for i in other_list %}
        <p>{{ i.content }}</p>
        <p>Posted by: <a href="/users/{{i.adder.id}}">{{ i.adder.name }}</a></p>
        <form action="/add_quote/{{i.id}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add to My List">
        </form>
    {% endfor %}

    <h4>Your Favorites</h4>

    {% for i in fav_list %}
        <p>{{ i.content }}</p>
        <p>Posted by: <a href="/users/{{i.adder.id}}">{{ i.adder.name }}</a></p>
        <form action="/remove_quote/{{i.id}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove from My List">
        </form>
    {% endfor %}


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="color:red" {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Contribute a Quote:</h3>

    <form action="/process_quote", method="post">
        {% csrf_token %}
        Quoted By: <input type="text" name="quoted_by">
        Message: <textarea name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
        <input type="hidden" name="adder" value="{{request.session.id}}">
    </form>

</body>
</html>