<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Dashbaord</title>
</head>
<body>
    
    <a href="/logout">Logout</a>
    <a href="/travels/add">Add Travel Plan</a>

    <h2>Hello, {{ user.name }} !</h2>

    <h4>Your Trip Schedules</h4>
    <table>
        <thead>
            <tr>
                <td>Destination</td>
                <td>Travel Start Date</td>
                <td>Travel End Date</td>
                <td>Plan</td>
            </tr>
        </thead>
        <tbody>
            {% for i in user_trips %}
                <tr>
                    <td><a href="/travels/destination/{{i.id}}">{{i.location}}</a></td>
                    <td>{{i.start_date}}</td>
                    <td>{{i.end_date}}</td>
                    <td>{{i.content}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Other Users' Travel Plans</h4>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Destination</td>
                <td>Travel Start Date</td>
                <td>Travel End Date</td>
                <td>Do You Want to Join?</td>
            </tr>
        </thead>
        <tbody>
            {% for i in other_trips %}
            {% if i.id != user.id %}
            <tr>
                <td><a>{{i.creator.name}}</a></td>
                <td><a href="/travels/destination/{{i.id}}">{{i.location}}</a></td>
                <td>{{i.start_date}}</td>
                <td>{{ i.end_date }}</td>
                <td><a href="/add_destination/{{i.id}}">Join</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

</body>
</html>