<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    
    <a href="/quotes">Dashboard</a>
    <a href="/logout">Logout</a>

    <h3>Posts by {{user.name}}</h3>
    <h3>Count: {{count}}</h3>

    {% for i in user_quotes %}
    <p style="color:red">{{ i.quoted_by }}:</p>
    <p>{{ i.content }}</p>
    {% endfor %}

</body>
</html>