<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.name }}</title>
</head>
<body>
    
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>

    <h3>{{ item.name }}</h3>
    <p>Users who added this product/item under their wish list:</p>
    {% for i in users %}
        <p>{{i.name}}</p>
    {% endfor %}



</body>
</html>