<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.name }}</title>
</head>
<body>
    
    <a href="/travels">Home</a>
    <a href="/logout">Logout</a>

    <h3>{{ location.location }}</h3>
    <p>Planned by: {{ location.creator.name }} </p>
    <p>Description: {{ location.content }}</p>
    <p>Travel Date From: {{ location.start_date }} </p>
    <p>Travel Date To: {{ location.end_date }} </p>
    
    <p>Others users joining the trip:</p>
    {% for i in users %}
        <p>{{i.name}}</p>
    {% endfor %}



</body>
</html>